<script type ="text/ng-template" id="sanji-ethernet-info.tpl.html">
  <div class="ethernet-info">
    <md-menu md-position-mode="target-right target">
      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin md-svg-icon="webapp:more-vert"></md-icon>
      </md-button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button>
            <div layout="row">
              <md-icon md-menu-origin md-svg-icon="webapp:refresh"></md-icon>
              <p flex>Refresh</p>
            </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="sanjiWindowMgr.goToEditState()">
            <div layout="row">
              <md-icon md-menu-origin md-svg-icon="webapp:settings"></md-icon>
              <p flex>Setting</p>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-repeat="tab in vm.tabs" label="{{::tab.title}}">
          <div layout="column" layout-padding layout-align="center center">
            <small class="md-subheader">IP</small>
            <h2 ng-bind="::tab.content.ip"></h2>
            <br/>
            <small class="md-subheader">Netmask</small>
            <h2 ng-bind="::tab.content.netmask"></h2>
            <br/>
            <small class="md-subheader">Gateway</small>
            <h2 ng-bind="::tab.content.gateway"></h2>
          </div>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</script>
