<script type ="text/ng-template" id="sanji-ethernet-info.tpl.html">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="tab in vm.tabs track by $index" label="{{::tab.content.name}}">
      <md-list>
        <md-list-item>
          <p class="md-body-2" translate="ETHERNET_INFO_TYPE"></p>
          <span ng-bind="tab.content.wan ? 'WAN' : 'LAN'"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="ETHERNET_INFO_IP"></p>
          <span ng-bind="tab.content.ip"></span>
        </md-list-item>
        <md-list-item>
          <p class="md-body-2" translate="ETHERNET_INFO_NETMASK"></p>
          <span ng-bind="tab.content.netmask"></span>
        </md-list-item>
        <md-list-item ng-if="tab.content.wan === 'WAN'">
          <p class="md-body-2" translate="ETHERNET_INFO_GATEWAY"></p>
          <span ng-bind="tab.content.gateway || ''"></span>
        </md-list-item>
        <md-list-item ng-repeat="dns in tab.content.dns track by $index">
          <p class="md-body-2">{{'ETHERNET_INFO_DNS' | translate}} {{$index + 1}}</p>
          <span ng-bind="dns || ''"></span>
        </md-list-item>
      </md-list>
    </md-tab>
  </md-tabs>
</script>
